*{
          margin: 0;
          padding: 0;
          box-sizing: inherit;
}
body{
          box-sizing: border-box;
}
.sec1p1{
          display: flex;
          justify-content: space-evenly;
}
.sec1inner1{
          width: 500px;
}
.sec1inner1 img{
          height: 600px;
          width: 500px;
          object-fit: cover;
          border-radius: 10px;
}
.sec1ultrainner {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
}
.sec1ultrainner img{
          /* margin-left: 1rem; */
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 10px;
}
.sec1inner2{
          width: 500px;
}