/************************************ Body ****************************************/
@media screen and (max-width:1250px){
       body{
                 overflow-x: hidden;
       }
}
/****************************************** Navbar ************************************/
@media screen and (max-width:906px) {
      .thirdnav #signup{
                display: none;
      }
}
@media screen and (max-width:775px) {
       .secondnav,.thirdnav{
                 display: none;
       }
       .hidden_nav a{
                 display: block;
                 visibility: visible;
                 position: absolute;
                 right: 32px;
                 top: 16px;
       }
       .navbar{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 margin-top: 1rem;
                 margin-left: 2rem;
       }
}
@media screen and (max-width:500px) {
       /* .secondnav{
                 display: block;
                 visibility: visible;
       }
       .secondnav ul {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 position: fixed;
                 top: 70px;
                 right: 0px;
                 width: 100%;
                 height: 50vh;
                 line-height: 40px;
                 background-color: firebrick;
                 z-index: 10;
       } */
       #extra_login{
                 display: block;
       }
       .secondnav ul li a{
                 color: white; 
       }
       .secondnav ul li a:hover{
                 color: #fcde67;
       }
       
      
}
/*************************************** Section 2 and 3*********************************/
@media screen and (max-width:1230px) {
       .sec2p1 #girl4,#boy4{
                 display: none;
        }
  
}
@media screen and (max-width:922px){
    .sec2p1 #girl3,#boy3{
              display: none;
    }   
}
@media screen and (min-width:1905px) {
    .img_size{
           width: 400px;
           height: 500px;
    }
}
@media screen and (max-width:639px){
       .img_size{
                 width: 200px;
       }     
}

@media screen and (max-width:608px){
    .img_size{
           width: 300px;
    }   
    .image_space{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
    }
    .image_space a{
       margin-top: 14px;
    }
    #centerkid{
           display: block;
           visibility: visible;
    }
       
}

/*********************************************** Kids Section ************************************/
@media screen and (max-width:1287px) {
    #kid3, #centerkid{
           width: 550px;
    }
}
@media screen and (max-width:1179px) {
    #kid3, #centerkid{
           width: 450px;
    }
}
@media screen and (max-width:1087px) {
    #kid3,#centerkid{
           width: 300px;
    }
}
@media screen and (max-width:927px) {
    #kid3,#centerkid{
          display: none;
    }
    .img_size{
           width: 350px;
    }

}
/* @media screen and (max-width:688px) {
   
    .img_size{
           width: 200px;
    }
} */

/************************************* Blog Section ***************************/
@media screen and (max-width:1000px) {
       .sec7 #blog3{
              display: none;
       }
}
@media screen and (max-width:672px) {
       .sec7 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
       }
       .sec7 #blog3{
              visibility: visible;
              display: block;
       }
       .sec7p1{
              margin-top: 14px;
       }
}
/******************************** Footer ********************************************/
@media screen and (max-width:695px) {
       #footercenter{
              display: none;
       }
       .footerp1 #footerhelp{
              display: block;
              visibility: visible;
       }
       .socialmedia{
              display: flex;
              flex-direction: column;
       }
       .socialmedia a{
              margin-bottom: 16px;
       }
       .socialmedia a,.footerp1 li{
              display: flex;
              justify-content: center;
              align-items: center;
       }
      
}