*{
          margin: 0;
          padding: 0;
          box-sizing: inherit;
}
body{
          box-sizing: border-box;
          background-color: #f6f4fa;
}
/******************************** Navbar *************************/
.navbar{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 1rem;
}
.hidden_nav a{
      display: none;
}
.secondnav ul{
          display: flex;
}
.secondnav ul li {
          list-style: none;
}
.secondnav ul li a{
          text-decoration: none;
          color: rgb(100, 134, 100);
          font-size: 23px;
          padding: 5px 25px;
          font-family: 'Koh Santepheap', cursive;
          font-weight: 800;
          position: relative;
}
#extra_login{
      display: none;
}
/* .secondnav ul li #home::after{
          content: '';
          display: block;
          height: 5px;
          width: 60px;
          background-color: firebrick;
          position:absolute;
          top: 33px;
          left: 25px;
} */
.secondnav ul li a:hover{
          background-color: firebrick;
          color: white;
          border-radius: 20px;
}
.thirdnav button{
          padding: 10px 25px;
          border-radius: 20px;
          font-size: 18px;
          background-color: firebrick;
          color: white;
          border: none;
          margin-right: 1rem;
          cursor: pointer;
}
/*************************************** Form ***********************************/
.form_div{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 90vh;
}
.form_box{
          height: 75vh;
          width: 35%;
          border: 2px solid firebrick;
          background-color: #fffbf0;
          border-bottom-right-radius: 40px;
}
.form_group{
          display: flex;
          justify-content: space-around;
}
.form_group a{
          margin-top: 1rem;
          text-decoration: none;
          color: white;
          font-size: 2em;
          font-family: monospace;
          padding: 0.3em 1em;
}
#register{
          background-color: rgb(100, 134, 100);
          border-radius: 30px;
}
#login_part,#register_part{
          display: flex;
          align-items: center;
          flex-direction: column;
}
/* #register_part{
      display: none;
} */

#register_part input{
      width: 250px;
      height: 30px;
      padding-left: 70px;
      border-radius: 5px;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: transparent;
      border-bottom: 5px solid firebrick;
}
#register_part p{
      font-size: 20px;
      padding: 10px;
      color: firebrick;
}
#register_part button{
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  color: firebrick;
  font-size: 20px;
  font-weight: 700;
  background-color: #fffbf0;
  border: 2px solid firebrick;
}
#register_part button:hover{
          background-color: firebrick;
          color: white;
          cursor: pointer;
}
#login_input input{
      /* display: block; */
      width: 100%;
      padding: 10px 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 2px solid #999;
}
#login{
      color:rgb(100, 134, 100) ;
}
/************************************ Footer ***************************************/
.secfooter{
          display: flex;
          justify-content: space-evenly;
          background-color: rgb(44, 43, 43);
          color: white;
          height: 40vh;
      }
      .footerp1 h4{
          padding-top: 2em;
          font-size: 20px;
          font-family:'Birthstone', cursive;
          text-transform: uppercase;
      }
      .footerp1 #footerhelp{
          display: none;
      }
      .footerp1 ul{
          list-style: none;
      }
      .footerp1 a{
          text-decoration: none;
          color: #f2f2f2;
          font-size: 20px;
      }
      .footerp1 a:hover{
          color: rgb(151, 109, 109);
      }
      .footerp1 a img{
          margin-left: 1rem;
          height: 32px;
          width: 32px;
      }
      #twitter{
          border-radius: 5px;
      }
      .lowerpart{
          padding: 1em;
          background-color: rgb(83, 80, 80);
          text-align: center;
      }
      .lowerpart a{
          text-decoration: none;
          color: white;
          font-size: 20px;
      }
      .lowerpart a:hover{
          text-decoration: underline;
      }