*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
/******************************** Navbar *************************/
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.secondnav ul{
    display: flex;
}
.secondnav ul li {
    list-style: none;
}
.secondnav ul li a{
    text-decoration: none;
    color: rgb(100, 134, 100);
    font-size: 23px;
    padding: 5px 25px;
    font-family: 'Koh Santepheap', cursive;
    font-weight: 800;
    position: relative;
}
.secondnav ul li #home::after{
    content: '';
    display: block;
    height: 5px;
    width: 60px;
    background-color: firebrick;
    position:absolute;
    top: 33px;
    left: 25px;
}
.secondnav ul li a:hover{
    /* border: 2px solid firebrick; */
    background-color: firebrick;
    color: white;
    border-radius: 20px;
}
.thirdnav button{
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    background-color: firebrick;
    color: white;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

/*************************************** Main *******************************/

/**************************************** Section 1 *****************************/
.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 #first,#second,#third{
    width: 80vw;
    height: 85vh;
    object-fit: cover;
}
.sec1 #second,#third{
    display: none;
}

/*************************************** Section 2 ********************************/
.sec2 a{
    text-decoration: none;
    color: rgb(100, 134, 100);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Birthstone', cursive;
}
#women{
    margin-left: 1rem;
}
.sec2p1{
    display: flex;
    justify-content: space-evenly;
}
.sec2p1 a img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

/*************************************** Section 3 ********************************/
.sec3 a{
    text-decoration: none;
    color: rgb(100, 134, 100);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Birthstone', cursive;
}
#men{
    margin-left: 1rem;
}
.sec3p1{
    display: flex;
    justify-content: space-evenly;
}
.sec3p1 a img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}


/*************************************** Section 4********************************/
.sec4 a{
    text-decoration: none;
    color: rgb(100, 134, 100);
    font-size: 30px;
    font-weight: 800;
    font-family: 'Birthstone', cursive;
}
#kids{
    margin-left: 1rem;
}
#kid3{
    width:650px ;
}
.sec4p1{
    display: flex;
    justify-content: space-evenly;
}
.sec4p1 a img{
    height: 400px;
    width: 300px;
    object-fit: cover;
}
